body {
    background-color: #121212; /* Fundo escuro */
    color: #ffffff; /* Texto claro */
}

header {
    background-image: url("../imgs/meioambiente-header.png");
    background-size: cover; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-color: #000000; /* Cabeçalho escuro */
    color: #ffffff; /* Texto claro */
    padding: 90px 0;
}

#logo {
    margin-left: 10px;
    width: 30%;
}
header h5{
    margin-left: 10px;
}
section {
    padding: 60px 0;
}

#slide {
    padding: 0;
}

.carousel {
    height: 400px;
}

.carousel .carousel-item {
    width: 100%;
}

#parcerias, #vantagens, #dificuldades, #beneficios {
    background-color: #1f1f1f; /* Fundo das seções */
}

footer {
    background-color: #0d0d0d; /* Fundo do rodapé */
    color: #ffffff; /* Texto claro */
    padding: 20px 0;
}

.btn-custom {
    background-color: #4caf50; /* Verde suave */
}

.parallax-container {
    height: 300px;
}

.icon-block {
    margin-top: 20px;
}

.card-title {
    color: #4caf50;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 20px 0;
    }
    .carousel .carousel-item {
        height: 250px;
    }
}

#onde-atuamos {
    background-color: #1f1f1f; /* Fundo das seções */
}

/* Carrossel */
.carousel {
    overflow: hidden;
    width: 100%;
    background-color: #1f1f1f;
    padding: 50px 0;
    position: relative; /* Para posicionar as setas */
}

/* Contêiner com deslizamento */
.wrap {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transição suave ao deslizar */
}

/* Estilo dos itens do carrossel */
.wrap .item {
    flex: 0 0 300px; /* Largura de cada item no carrossel */
    background-color: #333333;
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.6s ease-in-out;
}

/* Efeito de aumento na escala ao passar o mouse */
.wrap .item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilo dos ícones */
.wrap .material-icons {
    font-size: 50px;
    color: #4caf50;
}

/* Estilo dos títulos e textos */
.wrap h5 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-align: justify;
}

.wrap p {
    font-size: 14px;
    color: #dddddd;
}

/* Setas de navegação */
.arrow {
    opacity: 0.3;
    position: absolute;
    top: 45%;
    width: 8%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.3s ease;
}
.arrow:hover{
    opacity: 1;
}
@media only screen and (max-width: 600px) {
    .arrow {
        width: 20%;
    }

}
.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 15px;
}


#imagens-sistema {
    padding: 60px 0;
    background-color: #1f1f1f; /* Fundo claro para destacar as imagens */
}

#imagens-sistema .card {
    transition: transform 0.2s ease;
    color: #000000;
}

#imagens-sistema .card:hover {
    transform: scale(1.05);
}



/* Efeito de desfoque */
#imagens-sistema {
    transition: filter 0.3s;
}
/* Estilo para a imagem ampliada */
#lightbox {
    display: none; /* Começa escondido */
    position: fixed;
    top: 0;.wrap h5 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff; /* Texto claro */
    text-align: justify; /* Justificar o texto */
}

.wrap p {
    font-size: 14px;
    color: #dddddd; /* Texto cinza claro */
    text-align: justify; /* Justificar o texto */
}

#beneficios .card-content {
    font-size: 0.9rem;
    padding: 10px;
    text-align: justify; /* Justificar o texto */
}
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
}
.social-links {
    list-style-type: none; /* Remove os marcadores */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove a margem */
    display: flex; /* Alinha os itens em linha */
    justify-content: center; /* Centraliza os links */
}

.social-links li {
    margin: 0 10px; /* Espaçamento entre os links */
}

.social-links li a {
    color: white; /* Cor dos links */
    font-size: 24px; /* Tamanho do ícone */
    transition: color 0.3s; /* Efeito de transição */
}

.social-links li a:hover {
    color: #4caf50; /* Cor ao passar o mouse */
}

/* Ajustes para mobile */
@media only screen and (max-width: 600px) {
    .social-links {
        justify-content: center; /* Centraliza os links no mobile */
    }
}

#beneficios .card {
    width: 90%;
    margin: 0 auto;
    color: #000000;

}

#beneficios .card-image {
    background-color: #000000;

}

#beneficios .card-image img {
    width: 150px; 
    object-fit: cover;
    margin-left: 50%;
    transform: translate(-50%,0);
}

#beneficios .card-content {
    font-size: 0.9rem;
    padding: 10px;
}

#beneficios .card {
    padding: 10px;
    margin: 10px 0;
}
.wrap h5 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff; /* Texto claro */
    text-align: justify; /* Justificar o texto */
}

.wrap p {
    font-size: 14px;
    color: #dddddd; /* Texto cinza claro */
    text-align: justify; /* Justificar o texto */
}

#beneficios .card-content {
    font-size: 0.9rem;
    padding: 10px;
    text-align: justify; /* Justificar o texto */
}
